.article:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.article {
  padding: 10px;
  border: 2px solid #4caf50; /* Green */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin-bottom: 10px;
  margin-left: 10px;
}
